.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex-grow: 1;
    width: 100%;
}

.selectLabel {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
    font-weight: 500;
}

.selectInputUI {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.selectChevron {
    transform: rotate(90deg);
}

.selectInput {
    position: absolute;
    appearance: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0 0.5rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.selectCaption {
    font-size: 0.75rem;
}